
        body{
            background-color: azure;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: black;
        }
        nav{
            background-color: darkgray;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px ;
            position: sticky;
            top: 0;
            z-index: 100;
        }
            nav ul{
             display: flex;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            nav ul li{
                margin:  20px;
            }
            nav ul li a{
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
                color: black;
                padding: 10px 20px;
                border-radius: 50px;
            }
            nav ul li a:hover{
                background-color: aqua;
                color: white;

            }
            .hero-image{
                background-image: url("https://cdn.pixabay.com/photo/2024/05/04/12/34/hospital-8738997_640.png");
                background-size: cover;
                background-position: center;
                height: 900px;
                border-radius: 55px;
                margin: 20px;
            }
.about-us{
              background-color: darkgray;
              height: 60px;


            }
            .about{
              background-color: darkgray;
              height: 60px;
            }
            .section{
              background-color: darkgray;
              height: 60px;
            }
            #one{
               background-color: darkgray;
              height: 60px;
            }
            #two{
                background-color: darkgray;
              height: 60px;
            }

            .image-one img{
                height: 20vh;
                width: 400px;
                display:flex;
            }
            .image-two img{
                height: 20vh;
                width: 400px;
                display: flex;
            }
            .image-three img{
                height: 20vh;
                width: 400px;
                display: flex;
            }
            .image-four img{
                height: 20vh;
                width: 400px;

            }
            main{
                display: flex;
            }